h1,
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    padding: 40px;
}

.square {
    border-radius: 0;
    background-color: white;
    font-weight: 700;
    border-width: 1px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    float: left;
}

.board-row::after {
    clear: both;
    content: '';
    display: table;
}

.status {
    font-weight: 700;
    margin-bottom: 10px;
}

.game-info ol {
    padding-left: 0;
}

.game {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
}